@import "../variable.scss";

@for $max from 1 through 12 {
   .w#{$max*1} {
      width: calc(100% * (#{$max}/ 12));
      @for $i from 0 through 10 {
         &[term="#{$i}"] {
            margin-top: $i * 2px;
            &:not(:last-child) {
               margin-right: $i * 2px;
               width: calc(100% * (#{$max}/ 12) - (#{$i} * 2px));
            }
         }
      }
   }

   [childw="#{$max}"] {
      > * {
         width: calc(100% * (#{$max}/ 12));
      }
   }
}

@for $max from 1 through 10 {
   .vh#{$max}{
      height : #{max}vh;
   }
}

body {
   @for $d from 1 through length($device-name) {
      @media (min-width: nth($device-size,$d)) and (max-width: nth($device-size,$d+1) + 1px) {
         .#{nth($device-name,$d)}right {
            display: block;
         }
         .#{nth($device-name,$d)}left {
            display: block;
         }
         @for $max from 1 through 12 {
            .#{nth($device-name,$d)}w#{$max*1} {
               width: calc(100% * (#{$max}/ 12));
               @for $i from 0 through 10 {
                  &[#{nth($device-name,$d)}-term="#{$i}"] {
                     margin-top: $i * 2px;
                     &:not(:last-child) {
                        margin-right: $i * 2px;
                        width: calc(100% * (#{$max}/ 12) - (#{$i} * 2px));
                     }
                  }
               }
            }
         }
      }
   }
}

.w20 {
   width: 20%;
}
