@import "~/styles/import.scss";

.line {
  position: relative;
  .horizon {
    width: 100%;
    height: 0px;
    position: absolute;
    border-top: 2px dashed $oc-gray-3;
    background: transparent;
  }
  i {
    padding: 0px 6px;
    z-index: 3;
    position: relative;
    font-size: 32px;
    color: $oc-gray-3;
    background: #fff;
  }
}
