@import "~/styles/import.scss";

section {
  .wave-container {
    // top: -50px;
    width: 100%;
    position: relative;
    // background: rgba(40, 44, 48, 1);
    height: auto;
    overflow: hidden;
    svg {
      min-width: 1280px;
      // max-width: 1920px;
    }
  }
  article {
    // margin-top: 200px;
    // margin: 10vh 0px;
    .container {
      margin-top: 20px;
      .title {
        font-size: 1.7rem;
        color: $oc-gray-6;
        padding-bottom: 24px;
        line-height: 1;
        i {
          opacity: 0.5;
          font-size: 2.2rem;
          margin-right: 12px;
        }
      }
      &:not(:last-child) {
        padding-bottom: 24px;
        // border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        margin-bottom: 24px;
      }
    }
  }
}
