@import '../import.scss';

section {
  .header {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 66vh;
    background: $oc-gray-1;
    overflow: hidden;
    img {
      position: absolute;
      width: calc(100% + 50px);
      left: 50%;
      transform: translate(-50%, 0%);
      min-width: $content-max-width;
    }
    .blur {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(32, 36, 40, 0.5);
    }
  }
  article {
    z-index: 51;
    position: relative;
    // z-index: 1;
    margin: 0px auto;
    @include device-desktop() {
      margin-top: 25vh;
      min-height: 75vh;
      width: $content-max-width;
    }
    @include device-lte-tablet() {
      margin-top: 30vh;
      min-height: 70vh;
      width: 100%;
    }

    .post-title {
      color: #fff;
      font-size: 2rem;
      padding: 2rem;
      padding-bottom: 1rem;
      // border-bottom: 1px solid $oc-gray-1;
      margin-bottom: 1rem;

      i {
        color: $oc-gray-5;
      }
    }
    .content {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      width: 100%;
      padding: 2rem;
      line-height: 1.7;
      background: #fff;
      min-height: 50vh;
      &.loading {
        background: $oc-gray-1;
      }
    }
  }
}
